In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
inputs=df.drop('salary_more_then_100k',axis='columns')
target=df['salary_more_then_100k']

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [6]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [7]:
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [8]:
inputs_n= inputs.drop(['company','job','degree'],axis='columns')

In [9]:
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [10]:
from sklearn import tree

In [11]:
model=tree.DecisionTreeClassifier()

In [12]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [13]:
model.predict([[2,2,1]])

C:\Users\shiva\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [14]:
model.score(inputs_n,target)

1.0

In [15]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import graphviz

In [16]:
model = DecisionTreeClassifier()
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [17]:
from sklearn.tree import export_graphviz
import graphviz

# Convert the feature names to a list of strings
feature_names = list(inputs_n.columns)

# Ensure all feature names are strings
feature_names = [str(feature) for feature in feature_names]

# Convert class names to strings (assuming 'target' is a Pandas Series or array)
class_names = target.unique().astype(str)

# Generate DOT data for the decision tree visualization
dot_data = export_graphviz(
    model,
    out_file=None,
    feature_names=feature_names,
    class_names=class_names,
    filled=True,
    rounded=True
)

# Create and render the decision tree visualization
graph = graphviz.Source(dot_data)
graph.render("salary_tree")

'salary_tree.pdf'

In [18]:
graph.view()

'salary_tree.pdf'